.footer-col {
	width: 220px;
	padding-top: 40px;
}
.footer-list {
	list-style: none;
	color: #3876b7;
	padding-top: 10px;
	font-size: 14px;
}
.footer-link {
	text-decoration: none;
}
.footer-list:hover {
	cursor: pointer;
}
